@model List<SatbayevUsers.Models.User>

@{
	ViewData["Title"] = "Пользователи";
}

<h3>Index</h3>

<table class="table">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Электронная почта</th>
			<th>Дата рождения</th>
			<th>ИИН</th>
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Email</td>
				<td>@item.DateOfBirth</td>
				<td>@item.IIN</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
					<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-primary mt-2" asp-action="create">
	Добавить нового пользователя
</a>

